body {
  padding: 0;
  margin: 0;
  background: var(--color-black);
}

.main {
  padding: 0 12rem;
  margin: 12rem auto 6rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main--container_1 {
  max-width: 760px;
}
